<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <textarea v-model="message"></textarea>
    <pre>{{$data}}</pre>
</div>

<div id="app2">
    <select v-model="sexual">
        <option value="1">Man</option>
        <option value="2">Woman</option>
    </select>
    <p v-if="sexual === '1'">You Select Man</p>
    <p v-else>You Select Woman</p>
    <pre>{{$data}}</pre>
</div>

<div id="app3">
    <input type="number" v-model="arr">
    <ul>
       <li v-for="i in Number(arr)">
           {{i -1}} times 4 equals {{ (i-1) * 4}}
       </li>
    </ul>
    <pre>{{$data}}</pre>
</div>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script>
    'use strict'
    var message = 'Hello Vue!';

    new Vue({
        el : '#app',
        data : {
            message : message
        }

    })

    new Vue({
        el : '#app2',
        data : {
            sexual : 1
        }
    })

    new Vue({
        el : '#app3',
        data : {
            arr : 11
        }
    })
</script>
</body>
</html>